/* styles.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: #23178d;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Hero Section Styles */
.hero {
    background-image: url('https://www.icebox.com/themes/default/frontend/oct-2023/assets/avif/homebanner-accessories.avif');
    background-size: cover;
    background-position: center;
    color: rgb(212, 28, 28);
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* Button Styles */
.btn {
    background-color: #007bff;
    color: rgb(36, 35, 35);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Product Section Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #1a1d1a;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons a {
    color: #a50d0d;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    position: relative;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}